
/* ************** SIDEBAR ************************ */
.sidebar{
  background: darkblue;
  color: white;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 5;
}

.sidebar-btn{
  position: absolute;
  left: 215px;
  top: 3px;
  width: 30px;
  height: 30px;
  font-size: 1.25em;
}

.sidebar.shown{
  left: 0;
  -webkit-animation-name: slide-out; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: slide-out;
  animation-duration: 2s;
}
.sidebar.hidden{
  left: -213px;
  -webkit-animation-name: slide-in; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: slide-in;
  animation-duration: 2s;
}

@keyframes slide-in{
  from {left: 0}
  to {left: -213px}
}

@keyframes slide-out{
  from {left: -213px}
  to {left: 0}
}

/* *********** MARKER LABEL *********************** */
.marker-label{
  color: darkslateblue;
  font-weight: bold;
  padding: 2px 4px;
  font-size: 14px;
}

.marker-icon{
  width: 20px;
  height: 20px;
}