body {
  font-size: 12px;
  line-height: 1.833;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

/* ************** SIDEBAR ************************ */
.sidebar{
  background: lightgray;
  color: white;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 5;
}

.sidebar-btn{
  position: absolute;
  left: 215px;
  top: 3px;
  width: 30px;
  height: 30px;
  font-size: 1.5em;
  background: skyblue;
  border-radius: 10px;
  text-align: center;
}

.sidebar.shown{
  left: 0;
  -webkit-animation-name: slide-out; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: slide-out;
  animation-duration: 2s;
}
.sidebar.hidden{
  left: -213px;
  -webkit-animation-name: slide-in; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: slide-in;
  animation-duration: 2s;
}

@keyframes slide-in{
  from {left: 0}
  to {left: -213px}
}

@keyframes slide-out{
  from {left: -213px}
  to {left: 0}
}

/* MAP*/
.map{ position: absolute; height: 100vh; width: 80vw; display: flex; justify-content: center; align-items: center; left: 10%;}
/* *********** MARKER LABEL *********************** */
.marker-label{
  color: darkslateblue;
  font-weight: bold;
  padding: 2px 4px;
  font-size: 14px;
}

.marker-icon{
  width: 20px;
  height: 20px;
}

